body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
main { 
    flex-grow: 1;
}

nav,footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
    max-height: 180px; 
   }
.textarea {
    resize: none;
}  